// Colors

// Grays and basic colors
//
// These aren't modified (as of 2/14/2019) but here for easy overriding in the future and for use in our styles

// Grays
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$grays: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grays: map-merge(
  (
    "100": $gray-100,
    "200": $gray-200,
    "300": $gray-300,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900
  ),
  $grays
);

// Basic Colors
$blue:    #007bff !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;

$colors: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$colors: map-merge(
  (
    "blue":       $blue,
    "indigo":     $indigo,
    "purple":     $purple,
    "pink":       $pink,
    "red":        $red,
    "orange":     $orange,
    "yellow":     $yellow,
    "green":      $green,
    "teal":       $teal,
    "cyan":       $cyan,
    "white":      $white,
    "gray":       $gray-600,
    "gray-dark":  $gray-800
  ),
  $colors
);

// UA Branding Colors
//
// These are the UA theme colors and overrides of the default bootstrap colors.

// Primary colors
$bloom:       #ef4056 !default;
$uared:       #ab0520 !default;
$chili:       #8b0015 !default;
$sky:         #81d3eb !default;
$oasis:       #378dbd !default;
$azurite:     #1e5288 !default;
$arizonablue: #0c234b !default;
$midnight:    #001c48 !default;

// Neutral colors
$coolgray:    #e2e9eb !default;
$warmgray:    #f4ede5 !default;
$light:         $gray-100 !default;
$dark:          $gray-800 !default;

// Secondary colors
$leaf:        #70b865 !default;
$river:       #007d84 !default;
$silver:      #9eabae !default;
// Technically not a ua brand color anymore, but we need it for warning
$sand:        #f19e1f !default;

// Legacy colors
$ash:         #403635 !default;
$sage:        #4a634e !default;
// $silver is a legacy brand color too
$darksilver:  #49595e !default;
$copper:      #a95c42 !default;

// Colors map
$ua-colors: () !default;
$ua-colors: map-merge((
  "bloom": $bloom,
  "uared": $uared,
  "chili": $chili,
  "sky": $sky,
  "oasis": $oasis,
  "azurite": $azurite,
  "arizonablue": $arizonablue,
  "midnight": $midnight,
  "coolgray": $coolgray,
  "warmgray": $warmgray,
  "leaf": $leaf,
  "river": $river,
  "silver": $silver,
  "mesa": $copper,
  "sand": $sand,
  "ash": $ash,
  "sage": $sage,
  "darksilver": $darksilver,
  "copper": $copper
), $ua-colors);

// Override the default bootstrap theme colors
$theme-colors: (
  "primary": $azurite,
  "success": $leaf,
  "info": $river,
  "warning": $sand,
  "danger": $bloom,
  "secondary": $silver,
  "light": $light,
  "dark": $dark
);

// Additional theme colors, kept seperate since we don't want all bootstrap
// components to auto-compile them through for loops
$extra-colors: () !default;
$extra-colors: map-merge((
  "primary-dark": $arizonablue,
  "primary-light": $oasis,
  "accent": $uared
), $extra-colors);

// Legacy colors
$legacy-colors: () !default;
$legacy-colors: map-merge((
  "ash": $ash,
  "sage": $sage,
  "silver": $silver,
  "dark-silver": $darksilver,
  "copper": $copper
), $legacy-colors);


// Be a little more forgiving of when to use dark text for lighter colors
// An acceptable value for accessibility is between 0 and 255.
$yiq-contrasted-threshold:  190 !default;


// Fonts
//
// Replace the bootstrap fonts with UA fonts
$font-family-serif:        MiloSerifWeb, Baskerville, Georgia, TimesNewRoman, "Times New Roman", Times, serif;
$font-family-sans-serif:   MiloWeb, Verdana, Geneva, sans-serif !default;

// Highlight color
$mark-bg:                  $warmgray !default;

// Links
$link-color:               extra-color("accent") !default;

// Pagination
$pagination-active-bg:     extra-color("accent") !default;

// Code
$code-color:               extra-color("accent") !default;

// Card header background
$card-cap-bg:              $gray-100 !default;

// Breadcrumb background
$breadcrumb-bg:            $coolgray !default;

// Dropdowns
$dropdown-divider-bg: $coolgray !default;

// Jumbotron
$jumbotron-bg: $coolgray !default;

// List Group
$list-group-action-active-bg: $coolgray !default;
