/*!
 * FSO-Bootstrap v1.0.0 (https://bootstrap.docs.fso.arizona.edu/)
 * Copyright 2017-2018 FSO IT - FAST Team
 * Licenced under MIT (https://gitlab.fso.arizona.edu/FAST/fso-bootstrap/blob/master/LICENSE)
 * UA Branding Icons
 */

$ua-css-prefix: ua !default;
$ua-font-path:  '../fonts/' !default;

@font-face {
  font-family: "ua-brand-symbols";
  font-style: "ua-brand-symbols";
  font-weight: "ua-brand-symbols";
  src: url($ua-font-path + "ua-brand-symbols.eot") format("eot"), url($ua-font-path + "ua-brand-symbols.woff") format("woff"), url($ua-font-path + "ua-brand-symbols.ttf") format("truetype"), url($ua-font-path + "ua-brand-symbols.svg") format("svg");
}

.#{$ua-css-prefix} {
	font-family: 'ua-brand-symbols';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.#{$ua-css-prefix}-up-left-arrow:before {
	content: "\e640";
}
.#{$ua-css-prefix}-left-arrow:before {
	content: "\e641";
}
.#{$ua-css-prefix}-uaccess:before {
	content: "\e600";
}
.#{$ua-css-prefix}-checklist:before {
	content: "\e601";
}
.#{$ua-css-prefix}-spring-fling:before {
	content: "\e603";
}
.#{$ua-css-prefix}-tour:before {
	content: "\e604";
}
.#{$ua-css-prefix}-uasavvy:before {
	content: "\e605";
}
.#{$ua-css-prefix}-athletics:before {
	content: "\e607";
}
.#{$ua-css-prefix}-feedback:before {
	content: "\e608";
}
.#{$ua-css-prefix}-alumni:before {
	content: "\e609";
}
.#{$ua-css-prefix}-document:before {
	content: "\e60a";
}
.#{$ua-css-prefix}-az-index:before {
	content: "\e60b";
}
.#{$ua-css-prefix}-directory:before {
	content: "\e60c";
}
.#{$ua-css-prefix}-calendar:before {
	content: "\e60d";
}
.#{$ua-css-prefix}-weather:before {
	content: "\e60e";
}
.#{$ua-css-prefix}-video:before {
	content: "\e606";
}
.#{$ua-css-prefix}-campus-map:before {
	content: "\e60f";
}
.#{$ua-css-prefix}-news:before {
	content: "\e610";
}
.#{$ua-css-prefix}-foursquare:before {
	content: "\e63c";
}
.#{$ua-css-prefix}-pinterest:before {
	content: "\e63d";
}
.#{$ua-css-prefix}-youtube:before {
	content: "\f104";
}
.#{$ua-css-prefix}-facebook:before {
	content: "\f103";
}
.#{$ua-css-prefix}-mobile:before {
	content: "\f102";
}
.#{$ua-css-prefix}-googleplus:before {
	content: "\e63f";
}
.#{$ua-css-prefix}-instagram:before {
	content: "\f101";
}
.#{$ua-css-prefix}-linkedin:before {
	content: "\f100";
}
.#{$ua-css-prefix}-twitter:before {
	content: "\f105";
}
.#{$ua-css-prefix}-rss:before {
	content: "\e63e";
}
.#{$ua-css-prefix}-unbookmark:before {
	content: "\e611";
}
.#{$ua-css-prefix}-search:before {
	content: "\e602";
}
.#{$ua-css-prefix}-bookmark:before {
	content: "\e612";
}
.#{$ua-css-prefix}-checkmark:before {
	content: "\e613";
}
.#{$ua-css-prefix}-x:before {
	content: "\e614";
}
.#{$ua-css-prefix}-hamburger:before {
	content: "\e617";
}
.#{$ua-css-prefix}-minus:before {
	content: "\e619";
}
.#{$ua-css-prefix}-plus:before {
	content: "\e61b";
}
.#{$ua-css-prefix}-email:before {
	content: "\e616";
}
.#{$ua-css-prefix}-print:before {
	content: "\e61c";
}
.#{$ua-css-prefix}-link:before {
	content: "\e618";
}
.#{$ua-css-prefix}-refresh:before {
	content: "\e61d";
}
.#{$ua-css-prefix}-upload:before {
	content: "\e61f";
}
.#{$ua-css-prefix}-download:before {
	content: "\e615";
}
.#{$ua-css-prefix}-minimize:before {
	content: "\e620";
}
.#{$ua-css-prefix}-maximize:before {
	content: "\e621";
}
.#{$ua-css-prefix}-fast-forward:before {
	content: "\e622";
}
.#{$ua-css-prefix}-stop:before {
	content: "\e61e";
}
.#{$ua-css-prefix}-pause:before {
	content: "\e61a";
}
.#{$ua-css-prefix}-rewind:before {
	content: "\e623";
}
.#{$ua-css-prefix}-down-point:before {
	content: "\e624";
}
.#{$ua-css-prefix}-up-right-point:before {
	content: "\e625";
}
.#{$ua-css-prefix}-right-point:before {
	content: "\e626";
}
.#{$ua-css-prefix}-down-right-point:before {
	content: "\e627";
}
.#{$ua-css-prefix}-up-point:before {
	content: "\e628";
}
.#{$ua-css-prefix}-left-point:before {
	content: "\e629";
}
.#{$ua-css-prefix}-down-left-point:before {
	content: "\e62a";
}
.#{$ua-css-prefix}-up-left-point:before {
	content: "\e62b";
}
.#{$ua-css-prefix}-bottom-left-corner:before {
	content: "\e62c";
}
.#{$ua-css-prefix}-bottom-corner:before {
	content: "\e62d";
}
.#{$ua-css-prefix}-bottom-right-corner:before {
	content: "\e62e";
}
.#{$ua-css-prefix}-right-corner:before {
	content: "\e62f";
}
.#{$ua-css-prefix}-top-right-corner:before {
	content: "\e630";
}
.#{$ua-css-prefix}-top-corner:before {
	content: "\e631";
}
.#{$ua-css-prefix}-top-left-corner:before {
	content: "\e632";
}
.#{$ua-css-prefix}-left-corner:before {
	content: "\e633";
}
.#{$ua-css-prefix}-down-left-arrow:before {
	content: "\e634";
}
.#{$ua-css-prefix}-down-arrow:before {
	content: "\e635";
}
.#{$ua-css-prefix}-down-right-arrow:before {
	content: "\e636";
}
.#{$ua-css-prefix}-right-arrow:before {
	content: "\e637";
}
.#{$ua-css-prefix}-up-right-arrow:before {
	content: "\e638";
}
.#{$ua-css-prefix}-up-arrow:before {
	content: "\e639";
}
.#{$ua-css-prefix}-up-left-arrow2:before {
	content: "\e63a";
}
.#{$ua-css-prefix}-left-arrow2:before {
	content: "\e63b";
}
