@each $color, $value in $extra-colors {
  .btn-#{$color} {
    @include button-variant($value, $value);
  }
}

@each $color, $value in $extra-colors {
  .btn-outline-#{$color} {
    @include button-outline-variant($value);
  }
}