// Make cards with bg- utilities still work with our new card header/footer
// background color.

// div[class*='bg-'] {
//   .card-header {
//     background-color: none;
//   }
// }

div[class^='bg'], div[class*=' bg'] {
  &.card {
    .card-header {
      background-color: rgba($black, 0.03) !important;
    }
  }
}
