// A more sane implementation of UA Bootstraps table ideas

.table {
  th {
    text-transform: uppercase;
  }
}

.table-hover {
  tbody tr {
    @include hover {
      background-color: $warmgray;
    }
  }
}

.table {
  .thead-light {
    th {
      background-color: $coolgray;
      color: $darksilver;
    }
  }
  
  .thead-dark {
    th {
      background-color: $darksilver;
      color: $white;
    }
  }
}