// Changes/additions to anything in bootstraps `utilities` folder live here

// Backgrounds
//
// Add additional background colors from `extra-colors` and `ua-colors`

@each $color, $value in $extra-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $extra-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

@each $color, $value in $ua-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $ua-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

@each $color, $value in $extra-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $extra-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

// Text
//
// Add additional text colors from `extra-colors` and `legacy-colors`

@each $color, $value in $extra-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}

@each $color, $value in $ua-colors {
  @include text-emphasis-variant(".text-#{$color}", $value);
}
