// Import Bootstrap functions, variables, and mixins
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Import FSO-Bootstrap variables (overriding default Bootstrap variables
@import '../../../../scss/variables';

// Theme-related variables
$accentColor: $sage;
$textColor: $gray-900;
$borderColor: #eaecef;
$codeBgColor: #282c34;
$arrowBgColor: #ccc;


$navbarHeight: 3.6rem;
$sidebarWidth: 15rem;
$contentWidth: 840px;


$MQNarrow: 959px;
$MQMobile: 719px;
$MQMobileNarrow: 419px;


$lineNumbersWrapperWidth: 3.5rem;
