.custom-block {
  &.tip, &.warning, &.danger {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid $gray-500;
    border-left-width: 0.5rem;
    border-radius: 0.25rem;
  }

  &.tip {
    background-color: $gray-100;
    border-color: theme-color("info");

    .custom-block-title {
      color: theme-color("info");
    }
  }

  &.warning {
    background-color: $gray-100;
    border-color: theme-color("warning");

    .custom-block-title {
      color: theme-color("warning");
    }
  }

  &.danger {
    background-color: $gray-100;
    border-color: theme-color("danger");

    .custom-block-title {
      color: theme-color("danger");
    }
  }

  .custom-block-title {
    font-size: $h5-font-size;
    margin-bottom: $headings-margin-bottom;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    line-height: $headings-line-height;
    // margin-bottom: -0.4rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
