// Classes to aid bootstrap documentation rendering

// Render the first example modal as shown
.bd-example-modal {
  background-color: #fafafa;
  margin: 0 !important;

  .modal {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    z-index: 1;
    display: block;
  }

  .modal-dialog {
    left: auto;
    margin-right: auto;
    margin-left: auto;
  }
}
