%wrapper {
  max-width: $contentWidth;
  margin: 0 auto;
  padding: 2rem 2.5rem;
  @media (max-width: $MQNarrow) {
    padding: 2rem;
  }
  @media (max-width: $MQMobileNarrow) {
    padding: 1.5rem;
  }
}
